.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Adjust the margin-top value as needed */
}

.card {
  max-width: 400px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(30px); /* Adjust the translateY value to include margin */
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px); /* Adjust the translateY value to include margin */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-img {
  max-height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
}

.card-text {
  font-size: 1rem;
}

.text-muted {
  font-size: 0.8rem;
}
