.navbar-nav a {
    position: relative;
    padding-bottom: 8px; 
    text-decoration: none;
    color:white; 
  }
  
  .navbar-nav a:hover {
    color: #007bff; 
  }
.navbar-brand{
  color: #007bff;
}  
  .navbar-nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px; 
    background-color: #007bff; 
    transition: width 0.3s ease; 
  }
  
  .navbar-nav a:hover::after {
    width: 100%;
  }

  .nav-item{
    font-size: 15px;
  }
 